* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.login-card {
  width: 350px;
  padding: 30px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.input-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 14px;
}

.icon {
  color: #999;
  margin-right: 8px;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #999;
  margin-bottom: 25px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(90deg, #4facfe, #c77dff);
  cursor: pointer;
}

.or-text {
  margin: 25px 0 15px;
  font-size: 13px;
  color: #999;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.signup-text {
  margin-top: 30px;
  font-size: 13px;
  color: #999;
}

.signup-text strong {
  color: #000;
  cursor: pointer;
}
.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(90deg, #4facfe, #c77dff);
  cursor: pointer;
}




